.cover {
  margin-top: 220px;
  background: -webkit-gradient(linear, left top, right top, from(#e2e7eb), color-stop(65%, #e2e7eb), color-stop(70%, transparent), to(transparent)), url(http://127.0.0.1:5500/assets/images/category-header.png) !important;
  background: linear-gradient(to right, #e2e7eb 0%, #e2e7eb 65%, transparent 70%, transparent 100%), url(http://127.0.0.1:5500/assets/images/category-header.png) !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
  background-size: contain !important;
}

@media (max-width: 1920px) {
  .cover {
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, #e2e7eb), color-stop(55%, #e2e7eb), color-stop(70%, transparent), to(transparent)), url(http://127.0.0.1:5500/assets/images/category-header.png) !important;
    background: linear-gradient(to right, #e2e7eb 40%, #e2e7eb 55%, transparent 70%, transparent 100%), url(http://127.0.0.1:5500/assets/images/category-header.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
    background-size: contain !important;
  }
}

@media (max-width: 1024px) {
  .cover {
    margin-top: 198px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 220px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin-top: 170px;
    background: -webkit-gradient(linear, left top, right top, from(#e2e7eb), color-stop(65%, #e2e7eb), color-stop(70%, transparent), to(transparent)) !important;
    background: linear-gradient(to right, #e2e7eb 0%, #e2e7eb 65%, transparent 70%, transparent 100%) !important;
  }
}

@media (max-width: 425px) {
  .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 425px) {
  .cover .offset-column {
    height: 284px;
    background-image: url(../images/category-header.png);
    margin-left: -12px;
    margin-right: -12px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.category-sec {
  padding-top: 100px;
  padding-bottom: 226px;
  /*hide the outline behind the border*/
}

@media (max-width: 768px) {
  .category-sec {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}

@media (max-width: 1024px) {
  .category-sec h3 {
    font-size: 22px;
  }
}

.category-sec ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-right: 60px;
  margin-top: 32px;
}

@media (max-width: 1024px) {
  .category-sec ul {
    margin-top: 12px;
  }
}

@media (max-width: 768px) {
  .category-sec ul {
    padding-right: 10px;
  }
}

.category-sec ul > li {
  border-bottom: 1px solid #e9e8e8;
}

.category-sec ul > li > a {
  font-size: 17px;
  color: #06142a;
  padding: 22px 20px 26px;
  text-decoration: none;
  display: block;
  width: 100%;
}

@media (max-width: 1024px) {
  .category-sec ul > li > a {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .category-sec ul > li > a {
    font-size: 11px;
    padding: 10px;
  }
}

.category-sec ul > li:hover, .category-sec ul > li:active {
  border-bottom: none;
  border: 2px solid #003174;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.category-sec .mt-30 {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .category-sec .brands {
    margin-top: 120px !important;
  }
}

.category-sec .range-slider {
  width: 300px;
  text-align: center;
  position: relative;
}

@media (max-width: 1024px) {
  .category-sec .range-slider {
    width: 200px;
    height: 8px;
  }
}

@media (max-width: 768px) {
  .category-sec .range-slider {
    width: 160px;
  }
}

.category-sec .range-slider .rangeValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 10px;
}

.category-sec .range-slider .rangeValues > span {
  color: #4c5b74;
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .category-sec .range-slider .rangeValues > span {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .category-sec .range-slider .rangeValues > span {
    font-size: 11px;
  }
}

.category-sec .range-slider > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-sec .range-slider > form > button {
  background-color: #003174;
  color: #ffffff;
  border: 2px solid #000756;
  border-radius: 27px;
  height: 54px;
  width: 100px;
  margin-top: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .category-sec .range-slider > form > button {
    font-size: 12px;
    height: 40px;
    width: 80px;
  }
}

.category-sec input[type='range'] {
  -webkit-appearance: none;
  border: 1px solid #cbcbcb;
  width: 300px;
  position: absolute;
  left: 0;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .category-sec input[type='range'] {
    width: 200px;
    height: 8px;
  }
}

@media (max-width: 768px) {
  .category-sec input[type='range'] {
    width: 160px;
  }
}

.category-sec input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 11px;
  background: #dadada;
  border: none;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .category-sec input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 8px;
  }
}

@media (max-width: 768px) {
  .category-sec input[type='range']::-webkit-slider-runnable-track {
    width: 160px;
  }
}

.category-sec input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #003174;
  border: 3px solid #151f4b;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .category-sec input[type='range']::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    margin-top: -4px;
  }
}

.category-sec input[type='range']:focus {
  outline: none;
}

.category-sec input[type='range']:focus::-webkit-slider-runnable-track {
  background: #dadada;
}

.category-sec input[type='range']::-moz-range-track {
  width: 300px;
  height: 11px;
  background: #dadada;
  border: none;
  border-radius: 30px;
}

@media (max-width: 1024px) {
  .category-sec input[type='range']::-moz-range-track {
    width: 200px;
    height: 8px;
  }
}

@media (max-width: 768px) {
  .category-sec input[type='range']::-moz-range-track {
    width: 160px;
  }
}

.category-sec input[type='range']::-moz-range-thumb {
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #003174;
  border: 3px solid #151f4b;
}

.category-sec input[type='range']:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

.category-sec input[type='range']::-ms-track {
  width: 300px;
  height: 11px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;
}

.category-sec input[type='range']::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

.category-sec input[type='range']::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

.category-sec input[type='range']::-ms-thumb {
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #003174;
  border: 3px solid #151f4b;
}

.category-sec input[type='range']:focus::-ms-fill-lower {
  background: #888;
}

.category-sec input[type='range']:focus::-ms-fill-upper {
  background: #ccc;
}

.category-sec .form-check {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .category-sec .form-check {
    margin-top: 10px;
  }
}

.category-sec .form-check > label {
  font-size: 17px;
  color: #06142a;
}

@media (max-width: 1024px) {
  .category-sec .form-check > label {
    font-size: 12px;
  }
}

.category-sec .sort-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .category-sec .sort-section {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

.category-sec .sort-section > p {
  font-size: 17px;
  color: #06142a;
}

@media (max-width: 1024px) {
  .category-sec .sort-section > p {
    font-size: 14px;
  }
}

.category-sec .sort-section > .form-select {
  height: 54px;
  border-radius: 27px;
  border: 2px solid #eae9e9;
  padding-left: 20px;
  padding-right: 20px;
}

.category-sec .sort-section > .form-select:hover, .category-sec .sort-section > .form-select:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.category-sec .sort-section > .pos {
  width: 272px;
}

@media (max-width: 1024px) {
  .category-sec .sort-section > .pos {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .category-sec .sort-section > .pos {
    width: 150px;
    height: 30px;
    padding: 0 15px;
  }
}

.category-sec .sort-section > .sort {
  width: 145px;
}

@media (max-width: 1024px) {
  .category-sec .sort-section > .sort {
    width: 120px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .category-sec .sort-section > .sort {
    width: 110px;
    font-size: 12px;
    height: 30px;
  }
}

.category-sec .sort-section > button {
  height: 50px;
  width: 50px;
  border: 2px solid #eae9e9;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .category-sec .sort-section > button {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .category-sec .sort-section > button {
    width: 30px;
    height: 30px;
  }
}

.category-sec .sort-section > button > div {
  height: 20px;
  width: 20px;
  background-image: url(../images/navy-dot.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .category-sec .sort-section > button > div {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 768px) {
  .category-sec .sort-section > button > div {
    width: 12px;
    height: 12px;
  }
}

.category-sec .sort-section > button:hover {
  background-color: #003174;
  border: 2px solid #151f4b;
}

.category-sec .sort-section > button:hover > div {
  height: 20px;
  width: 20px;
  background-image: url(../images/white-dot.png);
  background-size: cover;
  background-position: center;
}

.category-sec .product-list {
  border-left: 1px solid #e9e8e8;
  padding-left: 50px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .category-sec .product-list {
    padding-left: 30px;
    padding-top: 20px;
  }
}

.category-sec .product-list > .product {
  text-decoration: none;
}

.category-sec .product-list > .product .img-container {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 40px;
  padding: 20px;
  display: block;
}

@media (max-width: 1024px) {
  .category-sec .product-list > .product .img-container {
    margin-bottom: 10px;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .category-sec .product-list > .product .img-container {
    width: 100% !important;
  }
}

.category-sec .product-list > .product .img-container > img {
  max-width: 100%;
  max-height: 100%;
}

.category-sec .product-list > .product > h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .category-sec .product-list > .product > h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

.category-sec .product-list > .product .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  margin-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #dcdcdc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .category-sec .product-list > .product .reviews {
    margin-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 425px) {
  .category-sec .product-list > .product .reviews {
    width: 100%;
  }
}

.category-sec .product-list > .product .reviews > .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3px;
          column-gap: 3px;
}

.category-sec .product-list > .product .reviews > .ratings > .icon-container,
.category-sec .product-list > .product .reviews > .ratings > .icon-container-half,
.category-sec .product-list > .product .reviews > .ratings > .icon-container-blank {
  height: 10px;
  width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-sec .product-list > .product .reviews > .ratings > .icon-container > img,
.category-sec .product-list > .product .reviews > .ratings > .icon-container-half > img,
.category-sec .product-list > .product .reviews > .ratings > .icon-container-blank > img {
  max-width: 100%;
}

.category-sec .product-list > .product .reviews > span {
  font-size: 17px;
  font-weight: 600;
  color: #4c5b74;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .category-sec .product-list > .product .reviews > span {
    font-size: 13px;
    line-height: 18px;
  }
}

.category-sec .product-list > .product .price > .discount-price {
  font-size: 35px;
  font-weight: lighter;
  line-height: 42px;
}

@media (max-width: 1024px) {
  .category-sec .product-list > .product .price > .discount-price {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  .category-sec .product-list > .product .price > .discount-price {
    width: 100%;
  }
}

.category-sec .product-list > .product .price > .discount-amount {
  color: #828282;
  font-size: 20px;
  text-decoration: line-through;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .category-sec .product-list > .product .price > .discount-amount {
    font-size: 20px;
  }
}

.related-products {
  padding: 166px 56px 100px;
  background-color: #f4f9fe;
}

@media (max-width: 768px) {
  .related-products {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.related-products h2 {
  text-align: center;
  font-size: 44px;
  font-weight: lighter;
  margin-bottom: 62px;
}

.related-products h2 > span,
.related-products h2 > strong {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .related-products h2 {
    font-size: 26px;
  }
}

.related-products .swiper > .swiper-button-prev::after,
.related-products .swiper > .swiper-button-next::after {
  display: none;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
  display: none;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 425px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide > h3 {
    font-size: 24px;
  }
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .img-container {
  width: 408px;
  height: auto;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 40px;
  padding: 20px;
  display: block;
}

@media (max-width: 1024px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide .img-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide .img-container {
    width: 100% !important;
  }
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .img-container > img {
  max-width: 100%;
  max-height: 100%;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .img-container:hover {
  -webkit-box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.09);
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 425px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide .reviews {
    width: 100%;
  }
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings > .icon-container,
.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings > .icon-container-half,
.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings > .icon-container-blank {
  height: 15px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings > .icon-container > img,
.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings > .icon-container-half > img,
.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings > .icon-container-blank > img {
  max-width: 100%;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .price {
  width: 100%;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-price {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}

@media (max-width: 425px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-price {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-price {
    font-size: 46px;
  }
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-amount {
  color: #828282;
  font-size: 30px;
  text-decoration: line-through;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-amount {
    font-size: 26px;
  }
}

.related-products .swiper > .swiper-wrapper > .swiper-slide-active,
.related-products .swiper > .swiper-wrapper > .swiper-slide-prev,
.related-products .swiper > .swiper-wrapper > .swiper-slide-next {
  visibility: visible;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide-active {
  display: block;
}
/*# sourceMappingURL=category.css.map */