// Footer starts from here
.footer, .pre-footer {
    @media (max-width: 1440px) {
        padding-left: 6%;
        padding-right: 6%;
    }

    @media (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container {
        @media (max-width: 768px) {
            padding: 0;
        }

        .col {
            @media (max-width: 768px) {
                padding: 0;
            }
        }
    }

    p {
        color: #70829e;
        font-weight: lighter;
    }

    .get-pricing {
        margin: 140px 10% 0px;
        padding: 50px 86px;
        border-radius: 18px;
        background: #ffffff;
        border: 1px solid #cfd8e3;
        box-shadow: 0px 5px 40px rgba(17, 49, 101, 0.16);

        @media (max-width: 1440px) {
            margin: 100px 4% 0;
        }

        @media (max-width: 1024px) {
            padding: 50px 56px;
        }

        @media (max-width: 768px) {
            margin: 99px 0px 0;
            padding: 34px 40px 39px;
        }

        @media (max-width: 375px) {
            padding: 34px 10px 39px;
        }

        &>div {
            &>h3 {
                font-size: 31px;
                color: #fe9900;
                font-weight: 600;

                @media (max-width: 1024px) {
                    font-size: 28px;
                    text-align: center;
                    line-height: 33px;
                }
            }

            &>p {
                color: #70829e;
                font-weight: lighter;

                @media (max-width: 1024px) {
                    font-size: 15px;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
        }

        &>.btn-yellow,
        &>.btn-white {
            width: 161px;
            height: 46px;
            margin-top: 0;
            border-radius: 5px;
            font-size: 20px;
        }
    }

    .footer-bottom {
        border-top: 1px solid #e5e5e5;
        margin: 65px 12% 50px;
        padding-top: 50px;

        @media (max-width: 1440px) {
            margin: 65px 8% 50px;
        }

        @media (max-width: 1024px) {
            row-gap: 40px;
        }

        @media (max-width: 425px) {
            margin-bottom: 20px;
        }

        @media (max-width: 375px) {
            margin: 0;
            margin-top: 65px;
            margin-bottom: 50px;
        }

        p {
            @media (max-width: 768px) {
                font-size: 14.5px;
                text-align: center;
                line-height: 23.42px;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            column-gap: 10px;
            padding-left: 0;

            &>li {
                ::after {
                    content: '   |';
                    color: #a2a2a2;
                }

                &:last-child {
                    ::after {
                        content: '';
                    }
                }

                &>a {
                    color: #a2a2a2;
                    font-size: 15px;
                    line-height: 30px;
                    text-decoration: none;
                }
            }
        }
    }
}