.product-details {
  padding: 48px 0;
}

.product-details nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.product-details nav > a, .product-details nav > span {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: lighter;
  color: #526C8E;
  text-decoration: none;
  font-family: "MINGLIU", serif;
}

.product-details .details .product-image {
  background-color: #fafbfc;
  border-radius: 24px;
  height: 659px;
}

.product-details .details .product-image > .swiper {
  padding: 20px;
}

.product-details .details .product-image > .swiper .swiper-slide {
  text-align: center;
  max-height: 592px;
  visibility: hidden;
  margin-right: 0 !important;
}

.product-details .details .product-image > .swiper .swiper-slide img {
  height: auto;
  max-width: 100%;
}

.product-details .details .product-image > .swiper .swiper-slide-active {
  visibility: visible;
}

.product-details .details .thumb-container {
  margin-top: 40px;
}

.product-details .details .thumb-container > .swiper > .swiper-wrapper > .swiper-slide {
  cursor: pointer;
  height: 145px;
  padding: 20px;
  width: 218px !important;
  margin-right: 0 !important;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
  position: relative;
  margin: 0px 10px 40px;
  border-radius: 24px;
  border: 1px solid #f6f8fa;
  text-align: center;
}

.product-details .details .thumb-container > .swiper > .swiper-wrapper > .swiper-slide > img {
  max-width: 60%;
}

.product-details .details .thumb-container > .swiper > .swiper-wrapper > .swiper-slide-thumb-active {
  border: 2px solid #1192F8;
}

.product-details .details .large-slider {
  max-height: 612px;
}

.product-details .details .small-slider {
  max-height: 140px;
}

.product-details .details .small-slider .swiper-wrapper {
  max-height: 130px;
}

.product-details .details .small-slider .swiper-wrapper .swiper-slide {
  border-radius: 24px;
  width: 150px !important;
  background: #fff;
  border: 1px solid #f6f8fa;
  -webkit-box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
}

.product-details .details .small-slider .swiper-wrapper .swiper-slide img {
  max-width: 100%;
}

.product-details .title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52.8px;
}

.product-details .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-top: 11.5px;
  margin-bottom: 16px;
}

.product-details .reviews .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.product-details .reviews .ratings .icon-container, .product-details .reviews .ratings .icon-container-half, .product-details .reviews .ratings .icon-container-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15px;
  width: 15px;
}

.product-details .reviews .ratings .icon-container img, .product-details .reviews .ratings .icon-container-half img, .product-details .reviews .ratings .icon-container-blank img {
  height: 16px;
  width: 16px;
}

.product-details .reviews span {
  color: #06142a;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: lighter;
}

.product-details .price {
  font-size: 26px;
  line-height: 31.2px;
  color: #06142A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.product-details .price .reg-price {
  padding-left: 20px;
}

.product-details .price .discount-amount {
  font-size: 17px;
  font-weight: 500;
  color: #1192F8;
}

.product-details .price .message {
  font-size: 15px;
  font-weight: lighter;
}

.product-details .product-terms-conditions {
  margin-top: 27px;
  background-color: #F6F8FA;
  border-radius: 9px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 25px 20px;
}

.product-details .product-terms-conditions span {
  font-size: 16px;
  color: #06142A;
  line-height: 30px;
  padding-left: 15px;
}

.product-details .short-description {
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 684px;
}

.product-details .short-description p {
  line-height: 29px;
}

.product-details .short-description ul {
  list-style-type: none;
  list-style-image: url("../images/list-icon.png");
  margin-top: 24px;
}

.product-details .short-description ul > li {
  color: #06142A;
  font-size: 16px;
  line-height: 33px;
  font-weight: lighter;
  padding-left: 10px;
}

.product-details .btn-yellow {
  width: 388px;
  height: 55px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
}

.product-details .cart-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.product-details .cart-action .counter {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.product-details .cart-action .counter > input {
  background-color: #F4F9FE;
  border: 1px solid #E7E9EE;
  border-radius: 9px;
  max-width: 111px;
  height: 39px;
}

.product-details .cart-action button {
  color: #1192F8;
  font-size: 16px;
  font-weight: lighter;
  line-height: 19.2px;
  border: none;
}

.product-details .cart-action button:focus, .product-details .cart-action button:active {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services {
  padding: 115px 50px;
  background-color: #F6F8FA;
}

.services .row {
  row-gap: 82px;
}

.services .row .img-container {
  height: 92px;
  width: 102px;
  margin: 0 auto;
  background-image: url("../images/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.services .row h3 {
  margin: 25px auto 20px;
}

.services .row p {
  max-width: 386px;
  margin: 0 auto;
}

.services .row .service-description {
  max-width: 100%;
  padding: 0 7%;
  font-size: 18px;
  line-height: 34px;
}

.get-payment-cloud-product-details {
  background: -webkit-gradient(linear, left top, right top, from(#1d4881), to(rgba(29, 72, 129, 0.7))), url("../images/Layer 28.png") no-repeat center;
  background: linear-gradient(to right, #1d4881, rgba(29, 72, 129, 0.7)), url("../images/Layer 28.png") no-repeat center;
  background-size: cover;
  padding: 100px 750px 120px;
  text-align: center;
  background-attachment: fixed;
}

@media (max-width: 1920px) {
  .get-payment-cloud-product-details {
    padding: 100px 300px 120px;
  }
}

@media (max-width: 1600px) {
  .get-payment-cloud-product-details {
    padding: 100px 200px 120px;
  }
}

@media (max-width: 1440px) {
  .get-payment-cloud-product-details {
    padding: 100px 120px 120px;
  }
}

@media (max-width: 767px) {
  .get-payment-cloud-product-details {
    padding: 60px 20px;
  }
}

.get-payment-cloud-product-details h2 {
  font-size: 65px;
  font-weight: 900;
  line-height: 70px;
  color: #ffffff;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .get-payment-cloud-product-details h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .get-payment-cloud-product-details .container,
  .get-payment-cloud-product-details .col {
    padding: 0;
  }
}

.get-payment-cloud-product-details .btn-yellow,
.get-payment-cloud-product-details .btn-white {
  width: 306px;
  margin-top: 30px;
}

.get-payment-cloud-product-details .btn-yellow > a,
.get-payment-cloud-product-details .btn-white > a {
  width: 336px;
  font-size: 18px;
}
/*# sourceMappingURL=productStyles.css.map */