// Product details starts from here
.woocommerce {
  nav, .woocommerce-breadcrumb {
    display: flex;
    column-gap: 10px;
  
    &>a,
    &>span {
      font-size: 16px;
      line-height: 19.2px;
      font-weight: lighter;
      color: #526c8e;
      text-decoration: none;
      font-family: 'MINGLIU', serif;
    }
  }
}

.product-details {
  margin-top: 216px;
  padding: 48px 0;

  .details {
    .product-image {
      background-color: #fafbfc;
      border-radius: 24px;
      height: 659px;

      @media (max-width: 425px) {
        height: auto;
      }

      &>.swiper {
        padding: 20px;

        .swiper-slide {
          text-align: center;
          max-height: 592px;
          visibility: hidden;
          margin-right: 0 !important;

          img {
            height: auto;
            max-width: 100%;
          }
        }

        .swiper-slide-active {
          visibility: visible;
        }
      }
    }

    .thumb-container {
      margin-top: 40px;

      @media (max-width: 425px) {
        margin-top: 10px;
      }

      &>.swiper {
        &>.swiper-wrapper {
          &>.swiper-slide {
            cursor: pointer;
            height: 145px;
            padding: 20px;
            width: 218px !important;
            margin-right: 0 !important;
            background: #ffffff;
            box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
            position: relative;
            margin: 0px 10px 40px;
            border-radius: 24px;
            border: 1px solid #f6f8fa;
            text-align: center;

            @media (max-width: 425px) {
              margin: 0px 5px 10px;
              padding: 5px;
              width: 33.33% !important;
              height: auto;
            }

            &>img {
              max-width: 60%;
            }
          }

          &>.swiper-slide-thumb-active {
            border: 2px solid #1192f8;
          }
        }
      }
    }
  }

  .title {
    font-size: 44px;
    font-weight: 500;
    line-height: 52.8px;
    margin-top: 40px;

    @media (max-width: 1024px) {
      font-size: 26px;
    }
  }

  .reviews {
    display: flex;
    column-gap: 12px;
    margin-top: 11.5px;
    margin-bottom: 16px;

    .ratings {
      display: flex;
      align-items: center;
      column-gap: 5px;

      .icon-container,
      .icon-container-half,
      .icon-container-blank {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: 15px;

        img {
          height: 16px;
          width: 16px;
        }
      }
    }

    span {
      color: #06142a;
      font-size: 16px;
      line-height: 19.2px;
      font-weight: lighter;
    }
  }

  .price {
    font-size: 26px;
    line-height: 31.2px;
    color: #06142a;
    display: flex;
    align-items: center;
    column-gap: 20px;

    @media (max-width: 1024px) {
      column-gap: 10px;
      font-size: 22px;
      line-height: 26px;
    }

    @media (max-width: 425px) {
      flex-wrap: wrap;

      img {
        display: none;
      }
    }

    .reg-price {
      padding-left: 20px;

      @media (max-width: 1024px) {
        padding-left: 10px;
      }
    }

    .discount-amount {
      font-size: 17px;
      font-weight: 500;
      color: #1192f8;

      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }

    .message {
      font-size: 15px;
      font-weight: lighter;

      @media (max-width: 1024px) {
        font-size: 14px;
      }

      @media (max-width: 425px) {
        flex-basis: 100%;
        margin-top: 17px;
      }
    }
  }

  .product-terms-conditions {
    margin-top: 27px;
    background-color: #f6f8fa;
    border-radius: 9px;
    max-width: max-content;
    padding: 25px 20px;

    span {
      font-size: 16px;
      color: #06142a;
      line-height: 30px;
      padding-left: 15px;

      @media (max-width: 1024px) {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }

  .short-description {
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 684px;

    p {
      line-height: 29px;

      @media (max-width: 1024px) {
        font-size: 15px;
      }
    }

    ul {
      list-style-type: none;
      list-style-image: url('../images/list-icon.png');
      margin-top: 24px;

      &>li {
        color: #06142a;
        font-size: 16px;
        line-height: 33px;
        font-weight: lighter;
        padding-left: 10px;

        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }
    }
  }

  .btn-yellow {
    width: 388px;
    height: 55px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;

    @media (max-width: 1024px) {
      height: 47px;
      font-size: 16px;
    }

    @media (max-width: 375px) {
      width: 100%;
    }
  }

  .cart-action {
    display: flex;
    margin-top: 34px;

    .counter {
      column-gap: 10px;

      &>input {
        background-color: #f4f9fe;
        border: 1px solid #e7e9ee;
        border-radius: 9px;
        max-width: 111px;
        height: 39px;
      }
    }

    button {
      color: #1192f8;
      font-size: 16px;
      font-weight: lighter;
      line-height: 19.2px;
      border: none;

      &:focus,
      &:active {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
}

// services section styles from here
.services {
  padding: 115px 50px;
  background-color: #f6f8fa;

  @media (max-width: 425px) {
    padding: 62px 20px 52px;
  }

  .row {
    row-gap: 82px;

    .img-container {
      height: 92px;
      width: 102px;
      margin: 0 auto;
      background-image: url('../images/service-bg.png');
      background-size: cover;
      background-repeat: no-repeat;
    }

    h3 {
      margin: 25px auto 20px;
    }

    p {
      max-width: 386px;
      margin: 0 auto;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }

    .service-description {
      max-width: 100%;
      padding: 0 7%;
      font-size: 18px;
      line-height: 34px;

      @media (max-width: 1024px) {
        font-size: 16px;
      }

      @media (max-width: 425px) {
        padding: 0;
      }
    }
  }
}

// Technical Specification styles starts form here
.technical-specification {
  padding: 120px 0 160px;

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 375px) {
    padding: 58px 20px 75px;
  }

  &>.container {
    &>h1 {
      font-size: 44px;
      margin-bottom: 33px;

      @media (max-width: 1024px) {
        font-size: 26px;
      }
    }

    &>.row {
      border: 1px solid #d0d2d6;
      border-radius: 24px;

      .product-image {
        background: #c6d4e2;
        border-radius: 24px;
        margin: 56px;
        padding: 20px;

        @media (max-width: 1024px) {
          margin: 20px 10px;
        }
      }

      .spec-col {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 35px;

        @media (max-width: 1024px) {
          row-gap: 15px;
        }

        &>.spec-item {
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          width: 100%;
          padding: 0 20% 0 0;

          @media (max-width: 1024px) {
            row-gap: 10px;
          }

          @media (max-width: 425px) {
            padding: 0;
          }

          &>h5 {
            padding-left: 30px;

            @media (max-width: 1024px) {
              font-size: 15px;
            }

            @media (max-width: 375px) {
              padding-left: 20px;
            }
          }

          &>div {
            column-gap: 15px;
            align-items: center;

            @media (max-width: 375px) {
              column-gap: 10px;
            }

            &>img {
              transform: rotate(270deg);
              margin-bottom: 10px;

              @media (max-width: 1024px) {
                height: 15px;
                width: 10px;
              }

              @media (max-width: 375px) {
                margin-bottom: 2px;
              }
            }

            &>p {
              font-size: 22px;
              color: #4c5b74;
              border-bottom: 1px solid #e5eaf1;
              width: 100%;
              padding-bottom: 10px;

              @media (max-width: 1024px) {
                font-size: 14px;
                padding-bottom: 2px;
              }

              @media (max-width: 425px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// Get payment cloud section starts from here
.get-payment-cloud-product-details {
  background: linear-gradient(to right,
      rgba(29, 72, 129, 1),
      rgba(29, 72, 129, 0.7)),
    url('../images/Layer\ 28.png') no-repeat center;
  background-size: cover;
  padding: 100px 750px 120px;

  @media (max-width: 1920px) {
    padding: 100px 450px 120px;
  }

  @media (max-width: 1600px) {
    padding: 100px 300px 120px;
  }

  @media (max-width: 1440px) {
    padding: 100px 200px 120px;
  }

  @media (max-width: 768px) {
    padding: 100px 100px 120px;
  }

  @media (max-width: 767px) {
    padding: 60px 20px;
  }

  text-align: center;
  background-attachment: fixed;

  h2 {
    font-size: 65px;
    font-weight: 900;
    line-height: 70px;
    color: #ffffff;
    margin-top: 30px;

    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: 56px;
    }

    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .container,
  .col {
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .btn-yellow,
  .btn-white {
    width: 306px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

// Customer review starts from here
.customer-review {
  background-color: #f4f9fe;
  padding: 118px 0 155px;

  h2 {
    &>span {
      color: #1192f8;
      display: block;
    }

    @media (max-width: 1024px) {
      font-size: 30px;
    }
  }

  h1 {
    font-size: 120px;
    font-weight: lighter;

    &>span {
      font-size: 48px;
    }

    @media (max-width: 1024px) {
      font-size: 100px;
    }
  }

  .reviews {
    display: flex;
    column-gap: 12px;
    margin-top: 11.5px;
    margin-bottom: 16px;

    .ratings {
      display: flex;
      align-items: center;
      column-gap: 5px;

      .icon-container,
      .icon-container-half,
      .icon-container-blank {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: 15px;

        @media (max-width: 1024px) {
          height: 12px;
          width: 12px;
        }

        img {
          height: 16px;
          width: 16px;
        }
      }
    }

    span {
      color: #06142a;
      font-size: 16px;
      line-height: 19.2px;
      font-weight: lighter;
    }
  }

  .review-images {
    column-gap: 10px;

    img {
      border-radius: 12px;

      @media (max-width: 1024px) {
        max-width: 20%;
      }
    }
  }

  .review-container {
    h1 {
      font-size: 44px;
      line-height: 52.8px;
      margin-bottom: 33px;

      @media (max-width: 1024px) {
        font-size: 26px;

        &>span,
        &>strong {
          font-size: 26px;
        }
      }
    }

    .review-list {
      background-color: #ffffff;
      border: 1px solid #d0d2d6;
      border-radius: 15px;
      padding: 44px 30px;

      @media (max-width: 1024px) {
        padding: 20px;
      }

      &>.review-item {
        display: flex;
        column-gap: 60px;
        border-bottom: 1px solid #e7e9ee;
        padding: 30px;

        @media (max-width: 1024px) {
          column-gap: 40px;
          padding-left: 0;
          padding-right: 0;
        }

        @media (max-width: 425px) {
          flex-direction: column;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border-bottom: none;
        }

        &>.customer {
          display: flex;
          column-gap: 15px;

          &>img {
            height: 60px;
            width: 60px;
            border-radius: 100px;
            overflow: hidden;
          }

          &>div {
            &>.h5 {
              font-weight: 500;
            }

            &>p {
              font-size: 14px;
              font-weight: 500;
            }

            &>.reviews {
              margin-top: 2px;
            }
          }
        }

        .review-details {
          &>h5 {
            margin-bottom: 15px;
          }

          &>p {
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;

            @media (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .pagination {
    margin-top: 15px;
    column-gap: 10px;

    &>.page-item {
      height: 35px;
      width: 35px;

      &>.disabled {
        background-color: #cfd1d7;
        border: 1px solid #cfd1d7;
      }

      &>.page-link {
        border-radius: 4px;
      }

      &>.page-link {
        border: 1px solid #e7e9ee;
        color: #535154;

        &:hover,
        &:active,
        &:focus {
          background-color: #0c5f8b;
          border: 1px solid #0c5f8b;
          color: #ffffff;
          box-shadow: none;
        }
      }

      &:first-child {
        &>.page-link {
          &>img {
            transform: rotate(180deg);
          }
        }
      }

      &:last-child {
        &>.page-link {
          background-color: #0c5f8b;
          border: 1px solid #0c5f8b;
        }
      }
    }
  }
}

// Related Products starts from here
.related-products {
  padding: 166px 56px 100px;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  // padding-bottom: 100px;
  h2 {
    text-align: center;
    font-size: 44px;
    font-weight: lighter;
    margin-bottom: 62px;

    &>span,
    &>strong {
      font-weight: 700;
    }

    @media (max-width: 1024px) {
      font-size: 26px;
    }
  }

  .swiper {

    &>.swiper-button-prev,
    &>.swiper-button-next {
      &::after {
        display: none;
      }
    }

    &>.swiper-wrapper {
      &>.swiper-slide {
        width: min-content !important;

        // @media (max-width: 1024px) {
        //   width: 50% !important;
        // }
        @media (max-width: 425px) {
          width: 100% !important;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &>h3 {
          @media (max-width: 1024px) {
            font-size: 24px;
          }
        }

        .img-container {
          width: 408px;
          height: auto;
          border: 1px solid #f1f1f1;
          background-color: #ffffff;
          border-radius: 24px;
          margin-bottom: 40px;
          padding: 20px;
          display: block;

          @media (max-width: 1024px) {
            margin-bottom: 20px;
          }

          @media (max-width: 425px) {
            width: 100% !important;
          }

          &>img {
            max-width: 100%;
            max-height: 100%;
          }

          &:hover {
            box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.09);
          }
        }

        .reviews {
          display: flex;
          column-gap: 13px;
          margin-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #dcdcdc;
          margin-bottom: 10px;

          @media (max-width: 425px) {
            width: 100%;
          }

          &>.ratings {
            display: flex;
            column-gap: 5px;

            &>.icon-container,
            &>.icon-container-half,
            &>.icon-container-blank {
              height: 15px;
              width: 15px;
              display: flex;
              align-items: center;
              justify-content: center;

              &>img {
                max-width: 100%;
              }
            }
          }
        }

        .price {
          &>.discount-price {
            font-size: 50px;
            font-weight: 500;
            line-height: 60px;

            @media (max-width: 425px) {
              width: 100%;
            }

            @media (max-width: 1024px) {
              font-size: 46px;
            }
          }

          &>.discount-amount {
            color: #828282;
            font-size: 30px;
            text-decoration: line-through;
            margin-left: 10px;

            @media (max-width: 1024px) {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}