.product-details {
  margin-top: 216px;
  padding: 48px 0;
}

.product-details nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.product-details nav > a,
.product-details nav > span {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: lighter;
  color: #526c8e;
  text-decoration: none;
  font-family: 'MINGLIU', serif;
}

.product-details .details .product-image {
  background-color: #fafbfc;
  border-radius: 24px;
  height: 659px;
}

.product-details .details .product-image > .swiper {
  padding: 20px;
}

.product-details .details .product-image > .swiper .swiper-slide {
  text-align: center;
  max-height: 592px;
  visibility: hidden;
  margin-right: 0 !important;
}

.product-details .details .product-image > .swiper .swiper-slide img {
  height: auto;
  max-width: 100%;
}

.product-details .details .product-image > .swiper .swiper-slide-active {
  visibility: visible;
}

.product-details .details .thumb-container {
  margin-top: 40px;
}

.product-details .details .thumb-container > .swiper > .swiper-wrapper > .swiper-slide {
  cursor: pointer;
  height: 145px;
  padding: 20px;
  width: 218px !important;
  margin-right: 0 !important;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.04);
  position: relative;
  margin: 0px 10px 40px;
  border-radius: 24px;
  border: 1px solid #f6f8fa;
  text-align: center;
}

.product-details .details .thumb-container > .swiper > .swiper-wrapper > .swiper-slide > img {
  max-width: 60%;
}

.product-details .details .thumb-container > .swiper > .swiper-wrapper > .swiper-slide-thumb-active {
  border: 2px solid #1192f8;
}

.product-details .title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52.8px;
  margin-top: 40px;
}

.product-details .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-top: 11.5px;
  margin-bottom: 16px;
}

.product-details .reviews .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.product-details .reviews .ratings .icon-container,
.product-details .reviews .ratings .icon-container-half,
.product-details .reviews .ratings .icon-container-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15px;
  width: 15px;
}

.product-details .reviews .ratings .icon-container img,
.product-details .reviews .ratings .icon-container-half img,
.product-details .reviews .ratings .icon-container-blank img {
  height: 16px;
  width: 16px;
}

.product-details .reviews span {
  color: #06142a;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: lighter;
}

.product-details .price {
  font-size: 26px;
  line-height: 31.2px;
  color: #06142a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.product-details .price .reg-price {
  padding-left: 20px;
}

.product-details .price .discount-amount {
  font-size: 17px;
  font-weight: 500;
  color: #1192f8;
}

.product-details .price .message {
  font-size: 15px;
  font-weight: lighter;
}

.product-details .product-terms-conditions {
  margin-top: 27px;
  background-color: #f6f8fa;
  border-radius: 9px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 25px 20px;
}

.product-details .product-terms-conditions span {
  font-size: 16px;
  color: #06142a;
  line-height: 30px;
  padding-left: 15px;
}

.product-details .short-description {
  margin-top: 32px;
  margin-bottom: 32px;
  max-width: 684px;
}

.product-details .short-description p {
  line-height: 29px;
}

.product-details .short-description ul {
  list-style-type: none;
  list-style-image: url("../images/list-icon.png");
  margin-top: 24px;
}

.product-details .short-description ul > li {
  color: #06142a;
  font-size: 16px;
  line-height: 33px;
  font-weight: lighter;
  padding-left: 10px;
}

.product-details .btn-yellow {
  width: 388px;
  height: 55px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
}

.product-details .cart-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.product-details .cart-action .counter {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.product-details .cart-action .counter > input {
  background-color: #f4f9fe;
  border: 1px solid #e7e9ee;
  border-radius: 9px;
  max-width: 111px;
  height: 39px;
}

.product-details .cart-action button {
  color: #1192f8;
  font-size: 16px;
  font-weight: lighter;
  line-height: 19.2px;
  border: none;
}

.product-details .cart-action button:focus, .product-details .cart-action button:active {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services {
  padding: 115px 50px;
  background-color: #f6f8fa;
}

.services .row {
  row-gap: 82px;
}

.services .row .img-container {
  height: 92px;
  width: 102px;
  margin: 0 auto;
  background-image: url("../images/service-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.services .row h3 {
  margin: 25px auto 20px;
}

.services .row p {
  max-width: 386px;
  margin: 0 auto;
}

.services .row .service-description {
  max-width: 100%;
  padding: 0 7%;
  font-size: 18px;
  line-height: 34px;
}

.technical-specification {
  padding: 120px 0 160px;
}

.technical-specification > .container > h1 {
  font-size: 44px;
  margin-bottom: 33px;
}

.technical-specification > .container > .row {
  border: 1px solid #d0d2d6;
  border-radius: 24px;
}

.technical-specification > .container > .row .product-image {
  background: #c6d4e2;
  border-radius: 24px;
  margin: 56px;
  padding: 20px;
}

.technical-specification > .container > .row .spec-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}

.technical-specification > .container > .row .spec-col > .spec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 100%;
  padding: 0 20% 0 0;
}

.technical-specification > .container > .row .spec-col > .spec-item > h5 {
  padding-left: 30px;
}

.technical-specification > .container > .row .spec-col > .spec-item > div {
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.technical-specification > .container > .row .spec-col > .spec-item > div > img {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-bottom: 10px;
}

.technical-specification > .container > .row .spec-col > .spec-item > div > p {
  font-size: 22px;
  color: #4c5b74;
  border-bottom: 1px solid #e5eaf1;
  width: 100%;
  padding-bottom: 10px;
}

.get-payment-cloud-product-details {
  background: -webkit-gradient(linear, left top, right top, from(#1d4881), to(rgba(29, 72, 129, 0.7))), url("../images/Layer 28.png") no-repeat center;
  background: linear-gradient(to right, #1d4881, rgba(29, 72, 129, 0.7)), url("../images/Layer 28.png") no-repeat center;
  background-size: cover;
  padding: 100px 750px 120px;
  text-align: center;
  background-attachment: fixed;
}

@media (max-width: 1920px) {
  .get-payment-cloud-product-details {
    padding: 100px 300px 120px;
  }
}

@media (max-width: 1600px) {
  .get-payment-cloud-product-details {
    padding: 100px 200px 120px;
  }
}

@media (max-width: 1440px) {
  .get-payment-cloud-product-details {
    padding: 100px 120px 120px;
  }
}

@media (max-width: 767px) {
  .get-payment-cloud-product-details {
    padding: 60px 20px;
  }
}

.get-payment-cloud-product-details h2 {
  font-size: 65px;
  font-weight: 900;
  line-height: 70px;
  color: #ffffff;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .get-payment-cloud-product-details h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .get-payment-cloud-product-details .container,
  .get-payment-cloud-product-details .col {
    padding: 0;
  }
}

.get-payment-cloud-product-details .btn-yellow,
.get-payment-cloud-product-details .btn-white {
  width: 306px;
  margin-top: 30px;
}

.get-payment-cloud-product-details .btn-yellow > a,
.get-payment-cloud-product-details .btn-white > a {
  width: 336px;
  font-size: 18px;
}

.customer-review {
  background-color: #f4f9fe;
  padding: 118px 0 155px;
}

.customer-review h2 > span {
  color: #1192f8;
  display: block;
}

.customer-review h1 {
  font-size: 120px;
  font-weight: lighter;
}

.customer-review h1 > span {
  font-size: 48px;
}

.customer-review .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-top: 11.5px;
  margin-bottom: 16px;
}

.customer-review .reviews .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.customer-review .reviews .ratings .icon-container,
.customer-review .reviews .ratings .icon-container-half,
.customer-review .reviews .ratings .icon-container-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15px;
  width: 15px;
}

.customer-review .reviews .ratings .icon-container img,
.customer-review .reviews .ratings .icon-container-half img,
.customer-review .reviews .ratings .icon-container-blank img {
  height: 16px;
  width: 16px;
}

.customer-review .reviews span {
  color: #06142a;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: lighter;
}

.customer-review .review-images {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.customer-review .review-container h1 {
  font-size: 44px;
  line-height: 52.8px;
  margin-bottom: 33px;
}

.customer-review .review-container .review-list {
  background-color: #ffffff;
  border: 1px solid #d0d2d6;
  border-radius: 15px;
  padding: 44px 30px;
}

.customer-review .review-container .review-list > .review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  border-bottom: 1px solid #e7e9ee;
  padding: 30px;
}

.customer-review .review-container .review-list > .review-item:first-child {
  padding-top: 0;
}

.customer-review .review-container .review-list > .review-item:last-child {
  border-bottom: none;
}

.customer-review .review-container .review-list > .review-item > .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.customer-review .review-container .review-list > .review-item > .customer > img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  overflow: hidden;
}

.customer-review .review-container .review-list > .review-item > .customer > div > .h5 {
  font-weight: 500;
}

.customer-review .review-container .review-list > .review-item > .customer > div > p {
  font-size: 14px;
  font-weight: 500;
}

.customer-review .review-container .review-list > .review-item > .customer > div > .reviews {
  margin-top: 2px;
}

.customer-review .review-container .review-list > .review-item .review-details > h5 {
  margin-bottom: 15px;
}

.customer-review .review-container .review-list > .review-item .review-details > p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.customer-review .pagination {
  margin-top: 15px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.customer-review .pagination > .page-item {
  height: 35px;
  width: 35px;
}

.customer-review .pagination > .page-item > .disabled {
  background-color: #cfd1d7;
  border: 1px solid #cfd1d7;
}

.customer-review .pagination > .page-item > .page-link {
  border-radius: 4px;
}

.customer-review .pagination > .page-item > .page-link {
  border: 1px solid #e7e9ee;
  color: #535154;
}

.customer-review .pagination > .page-item > .page-link:hover, .customer-review .pagination > .page-item > .page-link:active, .customer-review .pagination > .page-item > .page-link:focus {
  background-color: #0c5f8b;
  border: 1px solid #0c5f8b;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.customer-review .pagination > .page-item:first-child > .page-link > img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.customer-review .pagination > .page-item:last-child > .page-link {
  background-color: #0c5f8b;
  border: 1px solid #0c5f8b;
}

.related-products {
  padding: 166px 56px 100px;
}

.related-products h2 {
  text-align: center;
  font-size: 44px;
  font-weight: lighter;
  margin-bottom: 62px;
}

.related-products h2 > span {
  font-weight: 700;
}

.related-products .swiper > .swiper-button-prev::after,
.related-products .swiper > .swiper-button-next::after {
  display: none;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .img-container {
  width: 408px;
  height: 344px;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 40px;
  padding: 20px;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .img-container > img {
  max-width: 100%;
  max-height: 100%;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .img-container:hover {
  -webkit-box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.09);
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .reviews > .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-price {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}

.related-products .swiper > .swiper-wrapper > .swiper-slide .price > .discount-amount {
  color: #828282;
  font-size: 30px;
  text-decoration: line-through;
  margin-left: 10px;
}
/*# sourceMappingURL=productStyles.css.map */