* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  @media (min-width: 1920px) {
    .container{
      max-width: 1576px;
    }
  }
}
/* navigation styles start from here */
.link{
  color: #9D9B9B;
  text-decoration: none;
}
.button{
  width: 287px;
    height: 66px;
    background-color: #ffffff;
    border: 1px solid #1295F7;
    border-radius: 33px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 40px;
    &:hover, &:active{
        background-color: #FF9900;
        border: 1px solid #FF9900;
    }
    &>a {
      font-size: 26px;
      line-height: 32px;
      text-decoration: none;
      position: absolute;
      color: #1295F7;
      left: 50%;
      top: 50%;
      width: 287px;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      &:active, &:hover{
        color: #ffffff;
      }
    }
}
.dropdown-toggle{
  &::after{
    display: none;
  }
  & > a{
    padding: 0;
  }
  & > .dropdown-icon{
    height: 12px;
    width: 16px;
  }
}
// Nav section Style
.nav-section {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  & > .row{
    & > .logo-container{
      column-gap: 10px;
    }
    .search-field {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
      border-radius: 10px;
      padding-left: 20px;

      &> ::placeholder {
        color: rgba(121, 121, 121, 1);
        font-weight: 400;
        line-height: 19px;
        font-size: 15px;
      }

      &>input {
        border: none;

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      &>button {
        border: none;
        padding: 0 15px;

        &:hover {
          background-color: transparent;
        }
      }
    }
    .cart-total-container{
      height: 21px;
      width: 21px;
      color: #ffffff;
      background: rgba(255, 153, 0, 1);
      border-radius: 100px;
      left: 20px;
      top: -12px;
      & > .cart-total{
        font-size: 12px;
        line-height: 18px;
      }
    }
    .collapse{
            & > .navbar-nav {
              column-gap: 70px;
              & > .nav-item {
                & > .nav-link {
                  padding-left: 0;
                  padding-right: 0;
                }
              }
      }
    }
    .message{
      color: #FF9900;
      font-size: 22px;
      line-height: 27px;
      font-style: italic;
      & > span{
        background-color: #FF9900;
        border-radius: 100px;
        height: 27px;
        width: 27px;
        & > img{
          width: 20px;
          height: 15px;
        }
      }
    }
  }
}

// Hero section style
.cover{
  & > .caption-container{
    background-color: #E2E7EB;
    position: relative;
    & > .caption{
      padding: 80px 0 100px 15%;
      & > h1 {
          font-size: 60px;
          line-height: 72px;
          font-weight: lighter;
          max-width: 36%;
          color: #003375;
          & > span{
            font-weight: 700;
          }
        }
      
        & > p {
          color: #003375;
          font-size: 22px;
          line-height: 34px;
          max-width: 28%;
          font-weight: lighter;
        }
       
      }
      
      &>img {
        position: absolute;
        right: 0;
        top: 0;
        width: 58%;
        object-fit: cover;
      }
    }
   
}


// Review section starts from here
.review{
  padding: 115px 0 120px 0;
  .ratings{
    display: flex;
    gap: 10px;
    margin: 10px 0;
    & > .icon-container{
      height: 54px;
      width: 54px;
      background-color: #00B67A;
      padding: 10px;
      & > img{
        max-width: 100%;
      }
    }
  }
  .review-details{
    font-weight: lighter;
    font-weight: 16px;
    line-height: 19px;
    & > span{
      & > span{
        font-weight: medium;
      }
    }
  }
  .card{
    background-color: #FAFAFA;
    border-color: #707070;
    padding: 20px;
    .ratings{
      & > .icon-container{
        height: 20px;
        width: 20px;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    & > h2{
      font-size: 14px;
    }
    & > h4{
      font-size: 12px;
    }
    & > p{
      font-size: 12px;
    }
  }
}


// Products section starts from here
.products{
  .row{
    .card {
        background-color: #F6F8FA;
        border: 1px solid #707070;
        padding: 45px;
        padding-right: 0;
        row-gap: 40px;
    
        &>h2 {
          font-weight: lighter;
          font-size: 44px;
          line-height: 52px;
          color: #003375;
    
          &>span {
            font-weight: 600;
          }
        }
    
        p {
          color: #06142A;
          font-size: 18px;
          line-height: 30px;
          font-weight: lighter;
        }
      }
  & > .col-12, & > .col-md-6{
    &:last-child {
        .card{
          background-color: #ffffff;
          border: none;
          padding: 0 20px;
          justify-content: center;
          min-height: 100%;
        }
      }
  }
  }
}