@import url("./productStyles.scss");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  color: #003375;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  color: #181462;
  font-weight: 700;
}

h3,
h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
}

h4 {
  font-size: 22px;
  line-height: 26.4px;
}

h5 {
  font-size: 18.71px;
  font-weight: 700;
  color: #06142a;
}

p {
  color: #06142a;
  font-size: 17px;
  font-weight: lighter;
}

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 2156px;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1576px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1420px;
  }
}

.ash-primary {
  color: #9d9b9b;
}

.dark-text {
  color: #06142a;
}

.link-color {
  color: #0f5fad !important;
}

/* navigation styles start from here */
.link {
  text-decoration: none;
}

.btn-yellow,
.btn-white {
  width: 287px;
  height: 66px;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 33px;
  position: relative;
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .btn-yellow,
  .btn-white {
    width: 240px;
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .btn-yellow,
  .btn-white {
    width: 177px;
    height: 47px;
  }
}

.btn-yellow:hover, .btn-yellow:active,
.btn-white:hover,
.btn-white:active {
  background-color: #ffffff;
  border: 1px solid #ff9900;
  color: #ff9900;
}

.btn-yellow > a,
.btn-white > a {
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
  position: absolute;
  color: #ffffff;
  left: 50%;
  top: 50%;
  width: 287px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .btn-yellow > a,
  .btn-white > a {
    font-size: 16px;
  }
}

.btn-white {
  background-color: #ffffff;
  border: 1px solid #1295f7;
  color: #1295f7;
}

.btn-white > a {
  color: #1295f7;
}

.btn-white:hover, .btn-white:active {
  color: #ffffff;
  background-color: #1295f7;
  border: 1px solid #1295f7;
}

.btn-white:hover > a, .btn-white:active > a {
  color: #ffffff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle > a {
  padding: 0;
}

.dropdown-toggle > .dropdown-icon {
  height: 12px;
  width: 16px;
}

.navbar-toggler {
  top: -45px !important;
  right: 0px !important;
  left: auto !important;
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("../images/hamburger.png");
  max-height: 30px;
  max-width: 20px;
}

@media (max-width: 425px) {
  .navbar-toggler-icon {
    max-height: 20px;
    max-width: 14px;
  }
}

.cart-container {
  background: rgba(106, 134, 173, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #00000012;
          box-shadow: 0px 0px 15px 0px #00000012;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.cart-container .cart-wrapper {
  overflow-y: scroll;
  width: 480px;
  position: fixed;
  top: 0;
  right: 0px;
  padding: 30px 40px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.cart-container .cart-wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .cart-container .cart-wrapper {
    width: 100%;
  }
}

.cart-container .cart-wrapper h3 {
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 33px;
}

@media (max-width: 1024px) {
  .cart-container .cart-wrapper h3 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .cart-container .cart-wrapper h3 {
    font-size: 20px;
  }
}

.cart-container .cart-wrapper h4 {
  font-size: 20px;
  line-height: 24px;
  color: #003174;
}

@media (max-width: 425px) {
  .cart-container .cart-wrapper h4 {
    font-size: 16px;
  }
}

.cart-container .cart-wrapper .counter {
  border: 1px solid #ebebeb;
  border-radius: 12px;
  height: 24px;
  max-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cart-container .cart-wrapper .counter span:first-child {
  border-right: 1px solid #ebebeb;
  min-width: 23px;
  cursor: pointer;
}

.cart-container .cart-wrapper .counter span:nth-child(2) {
  color: #06142a;
  font-size: 17px;
  min-width: 33px;
}

.cart-container .cart-wrapper .counter span:nth-child(2) input {
  max-width: 100%;
  border: none;
  text-align: center;
  background: transparent;
}

.cart-container .cart-wrapper .counter span:last-child {
  border-left: 1px solid #ebebeb;
  min-width: 23px;
  cursor: pointer;
}

.cart-container .cart-wrapper .subtotal {
  margin-top: 28px;
  border-top: 1px solid #ebebeb;
  padding: 15px 10px;
  text-align: center;
}

.cart-container .cart-wrapper .subtotal h4 {
  font-size: 17px;
  font-weight: 600;
  color: #06142a;
}

.cart-container .cart-wrapper .subtotal p {
  font-size: 15px;
  font-weight: lighter;
  color: #526c8e;
  margin-top: 18px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item {
  background-color: #fff8ec;
  border: 1px solid #ff9900;
  border-radius: 16px;
  padding: 10px;
  margin: 35px 20px 38px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header {
  -webkit-column-gap: 15px;
          column-gap: 15px;
  border: none;
  background-color: transparent;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header .tick-active {
  background-color: #ff9900;
  border-radius: 100px;
  height: 16px;
  width: 16px;
  padding-left: 3px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 16.8px;
  color: #ff9900;
  text-transform: uppercase;
  padding: 0;
}

@media (max-width: 425px) {
  .cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header button {
    font-size: 11px;
  }
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header button :active,
.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header button :focus {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after,
.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("../images/up-arrow-active.png");
  background-size: cover;
  height: 8px;
  width: 12px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form {
  margin-top: 17px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form img {
  max-width: 100%;
  height: 16px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dfe5eb;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 16px;
  height: 40px;
  padding: 12px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input {
  border: none;
  height: 100%;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input:focus, .cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input:active {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input::-webkit-input-placeholder {
  color: #526c8e;
  opacity: 1;
  /* Firefox */
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input:-ms-input-placeholder {
  color: #526c8e;
  opacity: 1;
  /* Firefox */
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input::-ms-input-placeholder {
  color: #526c8e;
  opacity: 1;
  /* Firefox */
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input::placeholder {
  color: #526c8e;
  opacity: 1;
  /* Firefox */
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #526c8e;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-container input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #526c8e;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-select {
  color: #526c8e;
  height: 40px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body form .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: 1px solid #dfe5eb;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body .btn-yellow {
  width: 293px;
  height: 55px;
  font-size: 18px;
  font-weight: normal;
  line-height: 21.6px;
}

.cart-container .cart-wrapper .subtotal .accordion .accordion-item .accordion-body h4 {
  font-size: 22px;
  line-height: 26.4px;
  color: #003174;
}

.cart-container .cart-wrapper .subtotal .btn-white {
  width: 333px;
  height: 55px;
  margin: 0 auto;
}

.cart-container .cart-wrapper .subtotal .btn-white > a {
  font-size: 18px;
  font-weight: 500;
}

.nav-section-wrapper {
  padding: 49px 70px 36px;
  -webkit-box-shadow: 2.5px 4.33px 5px 0px #00000012;
          box-shadow: 2.5px 4.33px 5px 0px #00000012;
  background-color: #f6f8fa;
  z-index: 5;
}

@media (max-width: 1440px) {
  .nav-section-wrapper {
    padding: 49px 40px 36px;
  }
}

@media (max-width: 1024px) {
  .nav-section-wrapper {
    padding: 39px 20px 26px;
  }
}

@media (max-width: 768px) {
  .nav-section-wrapper {
    padding: 20px;
  }
}

.nav-section-wrapper .nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}

@media (max-width: 768px) {
  .nav-section-wrapper .nav-section {
    row-gap: 0px;
  }
}

@media (max-width: 600px) {
  .nav-section-wrapper .nav-section {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .nav-section-wrapper .nav-section > .row {
    row-gap: 5px;
  }
}

.nav-section-wrapper .nav-section > .row > .logo-container {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.nav-section-wrapper .nav-section > .row > .logo-container > a {
  font-family: 'GothamBook', sans-serif;
  font-size: 28px;
  color: #989b9b;
}

@media (max-width: 1024px) {
  .nav-section-wrapper .nav-section > .row > .logo-container > a {
    font-size: 24px;
  }
}

.nav-section-wrapper .nav-section > .row .hide-search-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .nav-section-wrapper .nav-section > .row .hide-search-field {
    display: none;
  }
}

.nav-section-wrapper .nav-section > .row .search-field {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  padding: 0 20px;
  height: 52px;
  font-family: 'MINGLIU', sans-serif;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .nav-section-wrapper .nav-section > .row .search-field {
    border-radius: 30px;
    height: 35px;
    background-color: #f2f4f6;
    border-color: #e7ecf0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 10px;
    -webkit-transition: all 0.65s ease;
    transition: all 0.65s ease;
    margin-top: 5px;
    margin-bottom: 22px;
  }
}

.nav-section-wrapper .nav-section > .row .search-field > ::-webkit-input-placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: 'MINGLIU', serif;
}

.nav-section-wrapper .nav-section > .row .search-field > :-ms-input-placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: 'MINGLIU', serif;
}

.nav-section-wrapper .nav-section > .row .search-field > ::-ms-input-placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: 'MINGLIU', serif;
}

.nav-section-wrapper .nav-section > .row .search-field > ::placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: 'MINGLIU', serif;
}

.nav-section-wrapper .nav-section > .row .search-field > input {
  border: none;
  background-color: transparent;
}

.nav-section-wrapper .nav-section > .row .search-field > input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-section-wrapper .nav-section > .row .search-field > button {
  border: none;
}

.nav-section-wrapper .nav-section > .row .search-field > button:hover, .nav-section-wrapper .nav-section > .row .search-field > button:focus {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-section-wrapper .nav-section > .row .navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #dbe7f4;
  padding: 0;
  border-radius: 12px;
  border: none;
}

@media (max-width: 1024px) {
  .nav-section-wrapper .nav-section > .row .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .nav-section-wrapper .nav-section > .row .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 12px;
  }
  .nav-section-wrapper .nav-section > .row .navbar-expand-lg .navbar-nav .nav-link::after {
    background: url("../images/down-arrow-s.png") top no-repeat;
    background-color: #dbe7f4 !important;
    background-size: cover;
    border: none !important;
    border-radius: 50% !important;
    content: '';
    display: block !important;
    height: 20px !important;
    margin: 5px !important;
    position: absolute !important;
    right: 0 !important;
    top: 5px !important;
    width: 20px !important;
  }
}

@media (max-width: 768px) {
  .nav-section-wrapper .nav-section > .row .cart-icon-container {
    position: absolute !important;
    top: -45px;
    right: 80px;
    padding: 2px 0;
  }
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .cart-icon-container {
    right: 50px;
  }
}

.nav-section-wrapper .nav-section > .row .cart-icon-container > img {
  width: 26px;
  height: auto;
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .cart-icon-container > img {
    width: 18px;
    height: auto;
  }
}

.nav-section-wrapper .nav-section > .row .cart-icon-container .cart-total-container {
  height: 21px;
  width: 21px;
  color: #ffffff;
  background: #ff9900;
  border-radius: 100px;
  left: 20px;
  top: -12px;
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .cart-icon-container .cart-total-container {
    display: none;
  }
}

.nav-section-wrapper .nav-section > .row .cart-icon-container .cart-total-container > .cart-total {
  font-size: 12px;
  line-height: 18px;
}

.nav-section-wrapper .nav-section > .row .phone-icon-container,
.nav-section-wrapper .nav-section > .row .search-icon-container {
  top: -45px;
  right: 135px;
  padding: 2px 0;
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .phone-icon-container,
  .nav-section-wrapper .nav-section > .row .search-icon-container {
    right: 85px;
  }
}

.nav-section-wrapper .nav-section > .row .phone-icon-container > img,
.nav-section-wrapper .nav-section > .row .search-icon-container > img {
  height: 28px;
  width: 25px;
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .phone-icon-container > img,
  .nav-section-wrapper .nav-section > .row .search-icon-container > img {
    width: 18px;
    height: auto;
  }
}

.nav-section-wrapper .nav-section > .row .search-icon-container {
  right: 200px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .search-icon-container {
    right: 120px;
  }
}

.nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav {
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

@media (max-width: 1024px) {
  .nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav > .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav > .nav-item > .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav > .nav-item > .nav-link > span {
  font-size: 25px;
  line-height: 29px;
  color: #797979;
}

@media (max-width: 1024px) {
  .nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav > .nav-item > .nav-link > span {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .nav-section-wrapper .nav-section > .row .navbar-expand > .collapse > .navbar-nav > .nav-item > .nav-link > span {
    font-size: 18px;
  }
}

.nav-section-wrapper .nav-section > .row .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.nav-section-wrapper .nav-section > .row .message > p {
  color: #ff9900;
  line-height: 27px;
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 1920px) {
  .nav-section-wrapper .nav-section > .row .message > p {
    font-size: 22px;
  }
}

@media (max-width: 1600px) {
  .nav-section-wrapper .nav-section > .row .message > p {
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  .nav-section-wrapper .nav-section > .row .message > p {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .nav-section-wrapper .nav-section > .row .message > p {
    font-size: 11px;
    line-height: 16px;
  }
}

@media (max-width: 375px) {
  .nav-section-wrapper .nav-section > .row .message > p {
    font-size: 9px;
  }
}

.nav-section-wrapper .nav-section > .row .message .tick-active {
  background: #ff9900;
  border-radius: 100px;
  padding: 0px 0 0 4px;
  height: 27px;
  width: 27px;
}

@media (max-width: 1440px) {
  .nav-section-wrapper .nav-section > .row .message .tick-active {
    height: 18px;
    width: 18px;
  }
}

@media (max-width: 600px) {
  .nav-section-wrapper .nav-section > .row .message .tick-active {
    height: 13px;
    width: 13px;
  }
}

@media (max-width: 600px) {
  .nav-section-wrapper .nav-section > .row .message .arrow-img {
    height: 9px;
    width: 6px;
  }
}

.cover {
  background-color: #e2e7eb;
  position: relative;
  margin-top: 216px;
}

@media (max-width: 768px) {
  .cover {
    margin-top: 207px;
  }
}

@media (min-width: 2560px) {
  .cover > .container {
    position: relative;
  }
}

@media (max-width: 768px) {
  .cover > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.cover > .container > .caption {
  padding: 80px 0 100px 0;
}

@media (max-width: 1920px) {
  .cover > .container > .caption {
    padding-left: 0;
  }
}

@media (max-width: 1600px) {
  .cover > .container > .caption {
    padding-left: 0;
  }
}

@media (max-width: 1440px) {
  .cover > .container > .caption {
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 76px;
  }
}

@media (max-width: 1024px) {
  .cover > .container > .caption {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}

@media (max-width: 768px) {
  .cover > .container > .caption {
    padding: 40px 0px 60px;
  }
}

.cover > .container > .caption > h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: lighter;
  max-width: 35%;
  color: #003375;
}

@media (max-width: 1920px) {
  .cover > .container > .caption > h1 {
    max-width: 46%;
  }
}

@media (max-width: 1600px) {
  .cover > .container > .caption > h1 {
    max-width: 40%;
    font-size: 50px;
  }
}

@media (max-width: 1440px) {
  .cover > .container > .caption > h1 {
    font-size: 40px;
    max-width: 35%;
  }
}

@media (max-width: 1024px) {
  .cover > .container > .caption > h1 {
    font-size: 34px;
    max-width: 42%;
    line-height: 44px;
  }
}

@media (max-width: 768px) {
  .cover > .container > .caption > h1 {
    font-size: 30px;
    line-height: 36px;
    max-width: 50%;
  }
}

@media (max-width: 425px) {
  .cover > .container > .caption > h1 {
    max-width: 90%;
  }
}

@media (max-width: 375px) {
  .cover > .container > .caption > h1 {
    font-size: 26px;
  }
}

.cover > .container > .caption > h1 > span {
  font-weight: 700;
}

.cover > .container > .caption > p {
  color: #003375;
  font-size: 22px;
  line-height: 34px;
  max-width: 25%;
}

@media (max-width: 1920px) {
  .cover > .container > .caption > p {
    max-width: 35%;
  }
}

@media (max-width: 1600px) {
  .cover > .container > .caption > p {
    max-width: 32%;
  }
}

@media (max-width: 1440px) {
  .cover > .container > .caption > p {
    max-width: 35%;
  }
}

@media (max-width: 1024px) {
  .cover > .container > .caption > p {
    max-width: 40%;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .cover > .container > .caption > p {
    font-size: 15px;
    line-height: 22px;
    max-width: 50%;
  }
}

@media (max-width: 425px) {
  .cover > .container > .caption > p {
    max-width: 90%;
  }
}

@media (max-width: 375px) {
  .cover > .container > .caption > p {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .cover > .container > .caption .btn-yellow {
    font-size: 18px;
    width: 200px;
    height: 45px;
  }
}

.cover > .container > img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .cover > .container > img {
    width: 100%;
    height: auto;
    position: relative;
  }
}

@media (max-width: 425px) {
  .cover > .container > img {
    width: 103%;
  }
}

@media (max-width: 375px) {
  .cover > .container > img {
    width: 103.5%;
  }
}

.review {
  padding: 115px 0 120px 0;
}

@media (max-width: 1440px) {
  .review img {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .review img {
    max-width: 100%;
  }
}

.review .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.review .ratings > .icon-container,
.review .ratings > .icon-container-half,
.review .ratings > .icon-container-blank {
  height: 54px;
  width: 54px;
  background-color: #00b67a;
  padding: 10px;
}

@media (max-width: 1440px) {
  .review .ratings > .icon-container,
  .review .ratings > .icon-container-half,
  .review .ratings > .icon-container-blank {
    height: 40px;
    width: 40px;
    padding: 8px;
  }
}

@media (max-width: 1024px) {
  .review .ratings > .icon-container,
  .review .ratings > .icon-container-half,
  .review .ratings > .icon-container-blank {
    height: 30px;
    width: 30px;
    padding: 0 5px;
  }
}

@media (max-width: 768px) {
  .review .ratings > .icon-container,
  .review .ratings > .icon-container-half,
  .review .ratings > .icon-container-blank {
    height: 54px;
    width: 54px;
    padding: 10px;
  }
}

.review .ratings > .icon-container > img,
.review .ratings > .icon-container-half > img,
.review .ratings > .icon-container-blank > img {
  max-width: 100%;
}

.review .ratings > .icon-container-half {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #00b67a), color-stop(50%, #dcdce6));
  background: linear-gradient(to right, #00b67a 50%, #dcdce6 50%);
}

.review .ratings > .icon-container-blank {
  background-color: #dcdce6;
}

.review .review-details {
  font-weight: lighter;
  line-height: 19px;
}

@media (max-width: 1440px) {
  .review .review-details {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .review .review-details {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .review .review-details {
    font-size: 17px;
  }
}

.review .review-details > span > span {
  font-weight: 600;
}

.review .card {
  background-color: #fafafa;
  border: 1px solid #dde0e3;
  padding: 20px;
  row-gap: 10px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .review .card {
    padding: 15px;
  }
}

.review .card .ratings {
  margin: 0;
}

.review .card .ratings > .icon-container,
.review .card .ratings > .icon-container-half,
.review .card .ratings > .icon-container-blank {
  height: 20px;
  width: 20px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .review .card .ratings > .icon-container,
  .review .card .ratings > .icon-container-half,
  .review .card .ratings > .icon-container-blank {
    height: 16px;
    width: 16px;
  }
}

.review .card .ratings > .icon-container-half {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #00b67a), color-stop(50%, #dcdce6));
  background: linear-gradient(to right, #00b67a 50%, #dcdce6 50%);
}

.review .card .ratings > .icon-container-blank {
  background-color: #dcdce6;
}

.review .card > h2 {
  font-size: 12px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .review .card > h2 {
    margin-bottom: 10px;
  }
}

.review .card > h4 {
  font-size: 12px;
}

.review .card p {
  font-size: 12px;
}

@media (max-width: 1024px) {
  .review .card p {
    font-size: 11px;
  }
}

.products .row .card {
  background-color: #f6f8fa;
  border: none;
  border-radius: 0;
  padding: 45px;
  padding-right: 0;
  row-gap: 40px;
}

@media (max-width: 1024px) {
  .products .row .card {
    padding: 25px;
    row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .products .row .card {
    padding: 44px 0 62px 0px;
    row-gap: 30px;
    text-align: center;
  }
}

.products .row .card > h2 {
  font-weight: lighter;
  font-size: 44px;
  line-height: 52px;
  color: #003375;
}

@media (max-width: 1440px) {
  .products .row .card > h2 {
    font-size: 35px;
  }
}

@media (max-width: 1024px) {
  .products .row .card > h2 {
    font-size: 26px;
    line-height: 32px;
  }
}

.products .row .card > h2 > span {
  font-weight: 600;
}

.products .row .card .btn-white {
  width: 285px;
  height: 62px;
  font-size: 18px;
}

@media (max-width: 1440px) {
  .products .row .card .btn-white {
    width: 250px;
    height: 50px;
  }
}

@media (max-width: 1024px) {
  .products .row .card .btn-white {
    width: 170px;
    height: 35px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .products .row .card .btn-white {
    width: 284px;
    height: 47px;
    font-size: 18px;
    margin: 0 auto;
  }
}

.products .row .card p {
  color: #06142a;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .products .row .card p {
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .products .row .card p {
    padding: 20px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .products .row .card img {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.products .row > .col-12:last-child .card,
.products .row > .col-md-6:last-child .card {
  background-color: #ffffff;
  border: none;
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

@media (max-width: 768px) {
  .products .row > .col-12:last-child .card,
  .products .row > .col-md-6:last-child .card {
    text-align: left;
    row-gap: 10px;
    padding: 0;
  }
  .products .row > .col-12:last-child .card p,
  .products .row > .col-md-6:last-child .card p {
    padding: 0;
  }
}

.clients {
  margin-top: 82px;
  padding: 38px 0;
  background-color: #f4f9fe;
}

.clients .swiper {
  width: 100%;
  height: 100%;
}

.clients .swiper .swiper-button-prev::after,
.clients .swiper .swiper-rtl .swiper-button-next::after,
.clients .swiper .swiper-button-next::after,
.clients .swiper .swiper-rtl .swiper-button-prev::after {
  display: none;
}

.clients .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.clients .image-wrapper::-webkit-scrollbar {
  display: none;
}

.clients .image-wrapper > img {
  max-width: 100%;
  padding-right: 40px;
  border-right: 1px solid #cfdbe9;
}

.clients .image-wrapper > img:last-child {
  border-right: none;
}

.get-payment-cloud {
  background: -webkit-gradient(linear, left top, right top, from(#1d4881), to(rgba(29, 72, 129, 0.7))), url("../images/Layer 28.png") no-repeat center;
  background: linear-gradient(to right, #1d4881, rgba(29, 72, 129, 0.7)), url("../images/Layer 28.png") no-repeat center;
  background-size: cover;
  padding: 100px 600px 120px;
  text-align: center;
  background-attachment: fixed;
}

@media (max-width: 1920px) {
  .get-payment-cloud {
    padding: 100px 300px 120px;
  }
}

@media (max-width: 1600px) {
  .get-payment-cloud {
    padding: 100px 200px 120px;
  }
}

@media (max-width: 1440px) {
  .get-payment-cloud {
    padding: 100px 220px 120px;
  }
}

@media (max-width: 1024px) {
  .get-payment-cloud {
    padding: 100px 220px 120px;
  }
}

@media (max-width: 768px) {
  .get-payment-cloud {
    padding: 60px 20px;
  }
}

.get-payment-cloud h2 {
  font-size: 65px;
  font-weight: 900;
  line-height: 70px;
  color: #ffffff;
  margin-top: 30px;
}

@media (max-width: 1440px) {
  .get-payment-cloud h2 {
    font-size: 50px;
    line-height: 56px;
  }
}

@media (max-width: 1024px) {
  .get-payment-cloud h2 {
    font-size: 30px;
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .get-payment-cloud h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  .get-payment-cloud .container,
  .get-payment-cloud .col {
    padding: 0;
  }
}

.get-payment-cloud .btn-yellow,
.get-payment-cloud .btn-white {
  width: 336px;
  margin-top: 30px;
  height: 66px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .get-payment-cloud .btn-yellow,
  .get-payment-cloud .btn-white {
    width: 260px;
    margin-top: 30px;
    height: 50px;
    font-size: 15px;
  }
}

.terminals {
  padding: 128px 0 95px;
}

.terminals h2 {
  color: #003375;
  font-size: 44px;
  font-weight: lighter;
  line-height: 52px;
  max-width: 500px;
}

@media (max-width: 1920px) {
  .terminals h2 {
    max-width: 100%;
  }
}

@media (max-width: 1440px) {
  .terminals h2 {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .terminals h2 {
    font-size: 26px;
    line-height: 38px;
  }
}

@media (max-width: 768px) {
  .terminals h2 {
    font-size: 44px;
    line-height: 52px;
    max-width: 500px;
  }
}

@media (max-width: 425px) {
  .terminals h2 {
    font-size: 26px;
    line-height: 31.2px;
    max-width: 70%;
  }
}

@media (max-width: 375px) {
  .terminals h2 {
    max-width: 90%;
  }
}

.terminals h2 > span {
  font-weight: bold;
}

.terminals ul {
  list-style-type: none;
  list-style-image: url("../images/list-icon.png");
  margin-top: 24px;
}

.terminals ul > li {
  color: #06142a;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
  padding-left: 10px;
}

.terminals .btn-yellow,
.terminals .btn-white {
  width: 305px;
  height: 62px;
  margin-top: 35px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .terminals .btn-yellow,
  .terminals .btn-white {
    width: 250px;
    height: 42px;
    margin-top: 35px;
    font-size: 16px;
  }
}

.faq {
  background-color: #f4f9fe;
  padding: 110px 0;
}

.faq h2 {
  font-size: 44px;
  line-height: 52px;
  font-weight: lighter;
  margin-bottom: 60px;
  text-align: center;
  color: #003375;
}

@media (max-width: 1024px) {
  .faq h2 {
    font-size: 26px;
    line-height: 32px;
  }
}

.faq h2 > span {
  font-weight: bold;
}

.faq .accordion {
  background-color: transparent;
}

.faq .accordion > .accordion-item {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #dbe5f0;
}

.faq .accordion > .accordion-item:last-child {
  border-bottom: none;
}

.faq .accordion > .accordion-item > .accordion-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.faq .accordion > .accordion-item > .accordion-header > .accordion-button {
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #003375;
  font-weight: 600;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px;
}

@media (max-width: 1024px) {
  .faq .accordion > .accordion-item > .accordion-header > .accordion-button {
    font-size: 20px;
    line-height: 24px;
  }
}

.faq .accordion > .accordion-item > .accordion-header > .accordion-button::after {
  background-image: url("../images/up-arrow-active.png");
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq .accordion > .accordion-item > .accordion-header > .accordion-button:focus {
  border: none;
  outline: none;
}

.faq .accordion > .accordion-item > .accordion-header > .collapsed::after {
  background-image: url("../images/down-arrow.png");
}

.faq .accordion > .accordion-item > .accordion-collapse > .accordion-body {
  padding: 0 20px 30px;
  font-size: 18px;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .faq .accordion > .accordion-item > .accordion-collapse > .accordion-body {
    font-size: 14px;
    line-height: 22px;
  }
}

.woocommerce-checkout .site-content {
  margin-top: 266px;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  .woocommerce-checkout .site-content {
    margin-bottom: 100px;
  }
}

.woocommerce-checkout .woocommerce-billing-fields {
  margin-top: 65px;
}

.woocommerce-checkout .woocommerce-billing-fields h3 {
  font-size: 18px;
}

.woocommerce-checkout .order-details {
  background-color: #f2f9ff;
}

.woocommerce-checkout #order_review_heading {
  margin-top: 45px;
  font-size: 18px;
  margin-left: 30px;
}

.woocommerce-checkout .woocommerce-checkout-review-order {
  margin-top: 30px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table {
  border-collapse: initial;
  border-spacing: 30px 30px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table tr > *:not(:last-child) {
  margin-right: 30px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table tbody,
.woocommerce-checkout .woocommerce-checkout-review-order-table tfoot {
  margin-top: 30px;
}

.woocommerce-checkout .woocommerce-checkout-payment {
  margin-top: 30px;
}

.woocommerce-checkout .woocommerce-checkout-payment .desk {
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .woocommerce-checkout .woocommerce-checkout-payment .desk {
    display: none;
  }
}

.woocommerce-checkout .woocommerce-checkout-payment .mob {
  margin: auto auto;
  display: none;
}

@media (max-width: 1024px) {
  .woocommerce-checkout .woocommerce-checkout-payment .mob {
    display: block;
  }
}

.woocommerce-checkout .place-order {
  margin-top: 30px;
}

.woocommerce-checkout .place-order .btn-white {
  width: 390px;
  height: 54px;
  font-size: 18px;
}

.woocommerce-checkout .checkout-cta-banner {
  margin: 40px auto;
  width: 80%;
  padding: 35px;
  background-color: #fff8ec;
  border: 1px solid #ff9900;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .woocommerce-checkout .checkout-cta-banner {
    width: 100%;
    padding: 25px;
  }
}

.woocommerce-checkout .checkout-cta-banner h5 {
  color: #ff9900;
}

.woocommerce-checkout .checkout-cta-banner .btn-yellow {
  width: 80%;
  height: 54px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .woocommerce-checkout .checkout-cta-banner .btn-yellow {
    width: 100%;
  }
}

.billing-input-fields {
  margin-top: 20px;
  margin-bottom: 20px;
}

.billing-input-fields input,
.billing-input-fields select {
  background-color: #f6f8fa;
}

.billing-input-fields label + input {
  margin-top: 10px;
}

.billing-input-fields label + select {
  margin-top: 10px;
}

.billing-input-fields input + input {
  margin-top: 10px;
}

.category-sec {
  padding-top: 100px;
  padding-bottom: 226px;
}

.category-sec ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-right: 60px;
}

.category-sec ul > li {
  border-bottom: 1px solid #e9e8e8;
}

.category-sec ul > li > a {
  font-size: 17px;
  color: #06142a;
  padding: 22px 20px 26px;
  text-decoration: none;
  display: inline-block;
}

.category-sec ul > li:hover, .category-sec ul > li:active {
  border: 1px solid #003174;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.category-sec ul > li:hover:nth-child(n - 2), .category-sec ul > li:active:nth-child(n - 2) {
  border-bottom: none;
}

@media (max-width: 1440px) {
  .footer {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .footer .container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .footer .container .col {
    padding: 0;
  }
}

.footer p {
  color: #70829e;
  font-weight: lighter;
}

.footer .get-pricing {
  margin: 100px 10% 65px;
  padding: 50px 86px;
  border-radius: 18px;
  background: #ffffff;
  border: 1px solid #cfd8e3;
  -webkit-box-shadow: 0px 5px 40px rgba(17, 49, 101, 0.16);
          box-shadow: 0px 5px 40px rgba(17, 49, 101, 0.16);
}

@media (max-width: 1440px) {
  .footer .get-pricing {
    margin: 100px 4% 65px;
  }
}

@media (max-width: 1024px) {
  .footer .get-pricing {
    padding: 50px 56px;
  }
}

@media (max-width: 768px) {
  .footer .get-pricing {
    margin: 99px 0px 66px;
    padding: 34px 40px 39px;
  }
}

@media (max-width: 375px) {
  .footer .get-pricing {
    padding: 34px 10px 39px;
  }
}

.footer .get-pricing > div > h3 {
  font-size: 31px;
  color: #fe9900;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .footer .get-pricing > div > h3 {
    font-size: 28px;
    text-align: center;
    line-height: 33px;
  }
}

.footer .get-pricing > div > p {
  color: #70829e;
  font-weight: lighter;
}

@media (max-width: 1024px) {
  .footer .get-pricing > div > p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.footer .get-pricing > .btn-yellow,
.footer .get-pricing > .btn-white {
  width: 161px;
  height: 46px;
  margin-top: 0;
  border-radius: 5px;
  font-size: 20px;
}

.footer .footer-bottom {
  border-top: 1px solid #e5e5e5;
  margin: 0px 12% 50px;
  padding-top: 50px;
}

@media (max-width: 1440px) {
  .footer .footer-bottom {
    margin: 0px 8% 50px;
  }
}

@media (max-width: 1024px) {
  .footer .footer-bottom {
    row-gap: 40px;
  }
}

@media (max-width: 425px) {
  .footer .footer-bottom {
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .footer .footer-bottom {
    margin: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .footer .footer-bottom p {
    font-size: 14.5px;
    text-align: center;
    line-height: 23.42px;
  }
}

.footer .footer-bottom ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-left: 0;
}

.footer .footer-bottom ul > li ::after {
  content: '   |';
  color: #a2a2a2;
}

.footer .footer-bottom ul > li:last-child ::after {
  content: '';
}

.footer .footer-bottom ul > li > a {
  color: #a2a2a2;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */