* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 2156px;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1576px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1420px;
  }
}

.ash-primary {
  color: #9D9B9B;
}

.dark-text {
  color: #06142A;
}

/* navigation styles start from here */
.link {
  text-decoration: none;
}

.button {
  width: 287px;
  height: 66px;
  background-color: #ffffff;
  border: 1px solid #1295F7;
  border-radius: 33px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 40px;
}

.button:hover, .button:active {
  background-color: #FF9900;
  border: 1px solid #FF9900;
}

.button > a {
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
  position: absolute;
  color: #1295F7;
  left: 50%;
  top: 50%;
  width: 287px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.button > a:active, .button > a:hover {
  color: #ffffff;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle > a {
  padding: 0;
}

.dropdown-toggle > .dropdown-icon {
  height: 12px;
  width: 16px;
}

.nav-section {
  padding: 45px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.nav-section > .row > .logo-container {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.nav-section > .row > .logo-container > a {
  font-family: "GothamBook", sans-serif;
}

.nav-section > .row .search-field {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  padding: 0 20px;
  height: 52px;
  font-family: "MINGLIU", sans-serif;
}

.nav-section > .row .search-field > ::-webkit-input-placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: "MINGLIU", serif;
}

.nav-section > .row .search-field > :-ms-input-placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: "MINGLIU", serif;
}

.nav-section > .row .search-field > ::-ms-input-placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: "MINGLIU", serif;
}

.nav-section > .row .search-field > ::placeholder {
  color: #797979;
  font-weight: lighter;
  line-height: 19px;
  font-size: 15px;
  font-family: "MINGLIU", serif;
}

.nav-section > .row .search-field > input {
  border: none;
}

.nav-section > .row .search-field > input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-section > .row .search-field > button {
  border: none;
}

.nav-section > .row .search-field > button:hover {
  background-color: transparent;
}

.nav-section > .row .cart-total-container {
  height: 21px;
  width: 21px;
  color: #ffffff;
  background: #ff9900;
  border-radius: 100px;
  left: 20px;
  top: -12px;
}

.nav-section > .row .cart-total-container > .cart-total {
  font-size: 12px;
  line-height: 18px;
}

.nav-section > .row .collapse > .navbar-nav {
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.nav-section > .row .collapse > .navbar-nav > .nav-item > .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.nav-section > .row .message {
  color: #FF9900;
  line-height: 27px;
  font-style: italic;
  font-weight: 500;
  font-size: 150%;
}

@media (max-width: 1920px) {
  .nav-section > .row .message {
    font-size: 21px;
  }
}

@media (max-width: 1440px) {
  .nav-section > .row .message {
    font-size: 19px;
  }
}

.nav-section > .row .message::after {
  content: url("../images/right-arrow.png");
  padding-left: 6px;
}

.nav-section > .row .message .tick-active {
  background: #FF9900;
  border-radius: 100px;
  padding: 0px 0 0 4px;
  height: 27px;
  width: 27px;
  margin-right: 15px;
}

@media (max-width: 1440px) {
  .nav-section > .row .message .tick-active {
    height: 21px;
    width: 21px;
  }
}

.cover > .caption-container {
  background-color: #E2E7EB;
  position: relative;
}

.cover > .caption-container > .caption {
  padding: 80px 0 100px 8%;
}

@media (max-width: 1920px) {
  .cover > .caption-container > .caption {
    padding-left: 8%;
  }
}

@media (max-width: 1600px) {
  .cover > .caption-container > .caption {
    padding-left: 3%;
  }
}

.cover > .caption-container > .caption > h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: lighter;
  max-width: 32%;
  color: #003375;
}

@media (max-width: 1920px) {
  .cover > .caption-container > .caption > h1 {
    max-width: 42%;
  }
}

@media (max-width: 1600px) {
  .cover > .caption-container > .caption > h1 {
    max-width: 40%;
    font-size: 50px;
  }
}

.cover > .caption-container > .caption > h1 > span {
  font-weight: 700;
}

.cover > .caption-container > .caption > p {
  color: #003375;
  font-size: 22px;
  line-height: 34px;
  max-width: 22%;
}

@media (max-width: 1600px) {
  .cover > .caption-container > .caption > p {
    max-width: 32%;
  }
}

.cover > .caption-container > img {
  position: absolute;
  right: 0;
  top: 0;
  width: 43%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1920px) {
  .cover > .caption-container > img {
    width: 59%;
  }
}

@media (max-width: 1600px) {
  .cover > .caption-container > img {
    width: 67%;
  }
}

.review {
  padding: 115px 0 120px 0;
}

.review .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.review .ratings > .icon-container {
  height: 54px;
  width: 54px;
  background-color: #00B67A;
  padding: 10px;
}

.review .ratings > .icon-container > img {
  max-width: 100%;
}

.review .review-details {
  font-weight: lighter;
  line-height: 19px;
}

.review .review-details > span > span {
  font-weight: 500;
}

.review .card {
  background-color: #FAFAFA;
  border: none;
  padding: 20px;
  row-gap: 10px;
  border-radius: 10px;
}

.review .card .ratings > .icon-container {
  height: 20px;
  width: 20px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review .card > h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.review .card > h4 {
  font-size: 14px;
}

.review .card > p {
  font-size: 14px;
}

.products .row .card {
  background-color: #F6F8FA;
  border: none;
  border-radius: 0;
  padding: 45px;
  padding-right: 0;
  row-gap: 40px;
}

.products .row .card > h2 {
  font-weight: lighter;
  font-size: 44px;
  line-height: 52px;
  color: #003375;
}

.products .row .card > h2 > span {
  font-weight: 600;
}

.products .row .card p {
  color: #06142A;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
}

.products .row > .col-12:last-child .card, .products .row > .col-md-6:last-child .card {
  background-color: #ffffff;
  border: none;
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

.clients {
  margin-top: 82px;
  padding: 46px 0;
  background-color: #F4F9FE;
}

.clients .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.clients .image-wrapper::-webkit-scrollbar {
  display: none;
}

.clients .image-wrapper > img {
  max-width: 100%;
  padding-right: 40px;
  border-right: 1px solid #707070;
}

.clients .image-wrapper > img:last-child {
  border-right: none;
}

.get-payment-cloud {
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 72, 129, 0.7)), to(rgba(29, 72, 129, 0.7))), url("../images/Layer 28.png") no-repeat center;
  background: linear-gradient(to right, rgba(29, 72, 129, 0.7), rgba(29, 72, 129, 0.7)), url("../images/Layer 28.png") no-repeat center;
  padding: 100px 600px 120px;
  text-align: center;
  background-attachment: fixed;
}

@media (max-width: 1920px) {
  .get-payment-cloud {
    padding: 100px 360px 120px;
  }
}

@media (max-width: 1600px) {
  .get-payment-cloud {
    padding: 100px 200px 120px;
  }
}

@media (max-width: 1440px) {
  .get-payment-cloud {
    padding: 100px 120px 120px;
  }
}

.get-payment-cloud h2 {
  font-size: 65px;
  font-weight: bold;
  line-height: 70px;
  color: #ffffff;
  margin-top: 30px;
}

.get-payment-cloud .button {
  width: 336px;
  margin-top: 30px;
}

.get-payment-cloud .button > a {
  width: 336px;
  font-size: 18px;
}

.terminals {
  padding: 128px 0 95px;
}

.terminals h2 {
  color: #003375;
  font-size: 44px;
  font-weight: lighter;
  line-height: 52px;
  max-width: 460px;
}

.terminals h2 > span {
  font-weight: bold;
}

.terminals ul {
  list-style-type: none;
  list-style-image: url("../images/list-icon.png");
  margin-top: 24px;
}

.terminals ul > li {
  color: #06142A;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
  padding-left: 10px;
}

.terminals .button {
  width: 305px;
  margin-top: 35px;
}

.terminals .button > a {
  font-size: 18px;
  line-height: 21px;
  width: 206px;
}

.faq {
  background-color: #F4F9FE;
  padding: 110px 0;
}

.faq h2 {
  font-size: 44px;
  line-height: 52px;
  font-weight: lighter;
  margin-bottom: 80px;
  text-align: center;
  color: #003375;
}

.faq h2 > span {
  font-weight: bold;
}

.faq .accordion {
  background-color: transparent;
}

.faq .accordion > .accordion-item {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #003375;
}

.faq .accordion > .accordion-item:last-child {
  border-bottom: none;
}

.faq .accordion > .accordion-item > .accordion-header {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.faq .accordion > .accordion-item > .accordion-header > .accordion-button {
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #003375;
  font-weight: 600;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 30px 20px;
}

.faq .accordion > .accordion-item > .accordion-header > .accordion-button::after {
  background-image: url("../images/up-arrow-active.png");
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq .accordion > .accordion-item > .accordion-header > .accordion-button:focus {
  border: none;
  outline: none;
}

.faq .accordion > .accordion-item > .accordion-header > .collapsed::after {
  background-image: url("../images/down-arrow.png");
}

.faq .accordion > .accordion-item > .accordion-collapse > .accordion-body {
  padding: 0 20px 30px;
}

.footer {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 1440px) {
  .footer {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.footer p {
  color: #70829E;
  font-weight: lighter;
}

.footer .get-pricing {
  margin: 100px 0 65px;
  padding: 50px 86px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.17);
  border: 1px solid #CFD8E3;
  border-radius: 10px;
}

.footer .get-pricing > div > h3 {
  font-size: 31px;
  color: #FE9900;
}

.footer .get-pricing > div > p {
  color: #70829E;
  font-weight: lighter;
}

.footer .get-pricing > .button {
  width: 161px;
  height: 46px;
  margin-top: 0;
  border-radius: 5px;
}

.footer .get-pricing > .button > a {
  font-size: 20px;
}

.footer .footer-bottom {
  border-top: 1px solid #D5D5D5;
  margin: 0px 2% 50px;
  padding-top: 50px;
}

.footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.footer ul > li ::after {
  content: "   |";
  color: #A2A2A2;
}

.footer ul > li :last-child ::after {
  content: "";
}

.footer ul > li > a {
  color: #A2A2A2;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */